Package: com.jakej.nowakeonringer
Name: NoWakeOnRinger
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Disables screen waking when the physical mute/ringer switch is switched.
Maintainer: Jake Januzelli
Author: Jake Januzelli
Section: Tweaks
Version: 1.0
Installed-Size: 72
